# ===================================================================
# File di configurazione e chiavi segrete
# ===================================================================
# La regola più importante! Ignora il file con le chiavi di Firebase.
firebase-config.js

# Ignora anche altri eventuali file di variabili d'ambiente
.env
.env.local
.env.*.local


# ===================================================================
# Dipendenze
# ===================================================================
# Mai, mai caricare questa cartella. Contiene tutte le librerie
# scaricate (es. via npm) e può essere enorme.
# Chiunque scarichi il progetto la rigenererà con 'npm install'.
node_modules/
package-lock.json
# ===================================================================
# File di Build e Cache
# ===================================================================
# Cartelle dove vengono messi i file finali dopo un processo
# di "build" (es. con strumenti come Vite o Webpack).
dist/
build/
.parcel-cache/
/.firebase/


# ===================================================================
# Log e File di Debug
# ===================================================================
# Ignora tutti i file di log generati durante lo sviluppo.
*.log
npm-debug.log*
yarn-error.log
yarn-debug.log*


# ===================================================================
# File specifici del Sistema Operativo
# ===================================================================
# File "spazzatura" generati automaticamente da macOS, Windows e Linux
# che non devono finire nel repository.

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Linux
*~


# ===================================================================
# File specifici dell'Editor di Codice
# ===================================================================
# Ogni sviluppatore ha le sue configurazioni, quindi è meglio
# non condividerle nel repository.

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains (WebStorm, etc.)
.idea/

# Sublime Text
*.sublime-project
*.sublime-workspace